html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}

.page-enter, .page-leave-to /* .page-leave-active below version 2.1.8 */ {
  opacity: 0;
}
